@import url(https://fonts.googleapis.com/earlyaccess/amiri.css);
@import url(https://fonts.googleapis.com/earlyaccess/droidarabickufi.css);
@import url(https://fonts.googleapis.com/earlyaccess/droidarabicnaskh.css);
@import url(https://fonts.googleapis.com/earlyaccess/scheherazade.css);
@import url(https://fonts.googleapis.com/earlyaccess/thabit.css);
.container-fluid
{
	background-color: #f0f0f0;
	}
#jam-name
{
   color: #d01334;
   text-align: center;
   font-family: 'Droid Arabic Kufi', serif;
   font-size: 50px;

}
.jumbotron
{
	   font-family: 'Droid Arabic Kufi', serif;
	   direction: rtl!important;
	  text-align: right!important;
}
#activity
{
	margin-left: 30px;
}
#nav-menu 
{
	text-align: right!important;
	
	direction: rtl;
}

#support table 
{
	text-align: right!important;
	
	direction: rtl;



}
#support button
{
	padding: 5px 20px;
	float: left;

}
#support
{
	
}
#activity-table table
{
		text-align: right!important;
	
	direction: rtl;

}
#activity-table button
{
		padding: 5px 20px;
	float: left;
}
#activity-table img
{
	height: 80px;
	width: 100px;
	margin-right: 20px;

}
#activity-table .card
{
	text-align:center; 
	
}
#nav-input
{
	background-color:#3d4348;
	color: white; 

}